<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryan Davis - Illustrator & CG Character Rigger</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-img/logo-precomposed" href="/../img/logo_bearHat2.png">
    <link rel="apple-touch-img/logo" href="/../img/logo_bearHat2.png">
    <link rel="apple-touch-img/logo" sizes="72x72" href="/../img/logo_bearHat2.png">
    <link rel="apple-touch-img/logo" sizes="114x114" href="/../img/logo_bearHat2.png">

    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="img/logo_bearHat2.jpg" rel="shortcut icon">
    <link href="lightbox/lightbox.css" rel="stylesheet">

</head>
<body>
  <div class="sidebar">
    <a href="/" class="logo">
      <img src="/../img/logo_bearHat2.png">
    </a>

    <ul class="nav">
      <div class="nav-inner">
        <center><li><a href="../demoreel.html"><span class="icon demo"></span>demo reel</a></li></center>
         <center><li><a href="../vizdev.html"><span class="icon vizdev"></span>2D viz dev</a></li></center>
         <center><li><a href="../studies.html"><span class="icon vizdev"></span>life sketches/studies</a></li></center>
         <center><li><a href="../rigging.html"><span class="icon rig"></span>rigging</a></li></center>
         <center><li><a href="../resume.html"><span class="icon resume"></span>resume/cv</a></li></center>
         <center><li><a href="../contact_about.html"><span class="icon contact"></span>contact/about</a></li></center>
      </div>
    </ul>
  </div>
  <div class="wrapper">
    <!--<h1><marquee scrolldelay="60">Ryan Davis - Illustrator & CG Character Rigger</marquee></h1>-->
    <center>
      <h1>ryan davis</h1>
      <h2>illustrator & cg character rigger</h2>
    </center>
    <br>
    <hr>
    <br>
    {{ content }}
  </div>

  <script src="https://api.html5media.info/1.1.8/html5media.min.js"></script>
  <script src="lightbox/lightbox-plus-jquery.min.js"></script>

</body>
</html>
